{{ if .Params.giscus.repo }}
<script
  src="https://giscus.app/client.js"
  data-repo="{{ .Params.giscus.repo }}"
  data-repo-id="{{ .Params.giscus.repo_id }}"
  data-category="{{ .Params.giscus.category }}"
  data-category-id="{{ .Params.giscus.category_id }}"
  data-mapping="{{ .Params.giscus.mapping }}"
  data-strict="{{ .Params.giscus.strict }}"
  data-reactions-enabled="{{ .Params.giscus.reactions_enabled }}"
  data-emit-metadata="{{ .Params.giscus.emit_metadata }}"
  data-input-position="{{ .Params.giscus.input_position }}"
  data-theme="{{ .Params.giscus.theme }}"
  data-lang="{{ .Params.giscus.lang }}"
  data-crossorigin="{{ .Params.giscus.crossorigin }}"
  data-async="{{ .Params.giscus.async }}"
></script>
{{ end }}
