{{ $taxonomyType := index (split $.RelPermalink "/") 1 }}
{{ with index $.Site.Taxonomies $taxonomyType }}
  <div class="container lg:max-w-3xl my-16 mx-auto px-4">
    <h2 class="my-5 text-3xl font-bold">{{ $taxonomyType | title }} </h2>
    {{ range $name, $taxonomy := . }}
      <a href="{{ printf "/%s/%s/" $taxonomyType $name }}" class="border border-slate-400 dark:border-slate-600 p-1 px-2 m-2 font-medium rounded-md hover:bg-slate-200 dark:hover:bg-slate-700 inline-flex items-center gap-1 active:scale-95 transition-all">
        {{ $name }} 
        <span class="text-sm h-6 w-6 rounded-full inline-flex items-center justify-center bg-slate-200 dark:bg-slate-800 text-slate-500 dark:text-slate-200">({{ $taxonomy.Count }})</span>
      </a>
    {{ end }}
  </div>
{{ end }}

{{ if or (eq $.RelPermalink "/tags/") (eq $.RelPermalink "/categories/") }}
  <div class="container lg:max-w-3xl my-16 mx-auto p-8 shadow-md bg-white dark:bg-slate-800 rounded-lg">
    <h1 class="font-bold uppercase text-sky-500 dark:text-sky-400 text-sm mb-2">Request</h1>
    <p class="text-3xl font-bold tracking-tight mb-2">Didn't find the {{ $taxonomyType | title }} you were looking for?</p>
    <p class="text-base mb-8">Please make a request so we can add it.</p>
    <a href="{{ $.Site.Params.request_form_url }}" class="px-3 py-2 bg-sky-500 hover:bg-sky-700 focus:ring-2 focus:ring-sky-400 rounded-lg active:bg-sky-500 text-white">Request New {{ $taxonomyType | title }}</a>
  </div>
{{ end }}
